body {
  margin: 0;
  font-family: sans-serif;
}

.nav {
  background:#f5deb3;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.nav a {
  color: brown;
  text-decoration: none;
  font-weight: bold;
}
.nav img {
  display: flex;
  height: 130px;
  width: 130px;
}
.nav h1 {
  font-size: 24px;  
}
.nav ul {
  list-style: none;
  display: flex;
  gap:25px;
}
.Top img {
  width: 32px;
  height: 32px;
  margin: 2px;
}

.hero {
  background:  #8b4513 ;
  padding: 20px;
  text-align: center;
}

.hero button {
  background: #d2691e ;
  color: white;
  padding: 10px 20px;
  border: none;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  text-align: center;
}
